
@import url(http://fonts.googleapis.com/css?family=Istok+Web);

.container {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Istok Web', sans-serif;
}
h3 {
  margin-top: 50px;
}

h4 {
  margin-top: 25px;
  margin-bottom: 0px;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #eee;*/
  /*border: 1px solid #ddd;*/
  /*background-color: rgba(86,61,124,.15);*/
  /*border: 1px solid rgba(86,61,124,.2);*/
}

.page_top {
  margin-top: 25px;
}

.page_end {
  margin-bottom: 100px;
}
